---
import Layout from "../layouts/Layout.astro";
import Feature from "../components/Feature.astro";
import Hero from "../components/Hero.astro";
import Team from "../components/Team.astro";

import { i18n } from "./index.i18n";
import { getLanguage } from "../components/Language";

const language: string = getLanguage(Astro.request.headers);
---

<Layout title={`${i18n[language].title}`}>
  <main>
    <Hero />
    <Feature />
    <Team />
  </main>
</Layout>
